@model WealthTrackr.ViewModels.ApplicationUserModel
@{
    ViewData["Title"] = "Create Admin";
}

<div class="row mt-5">
    <div class="col-md-5 mx-auto">
        <div class="card">
            <div class="card-header">
                <h3>Create Admin</h3>
            </div>
            <div class="card-body">
                <form asp-action="CreateAdmin">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="row mt-2 col-8 mx-auto mb-3">
                        <div class="btn-group" role="group">
                            <input class="btn-check" type="radio" id="type1" asp-for="role" value="1">
                            <label class="btn btn-secondary" for="type1">Admin</label>
                            <input class="btn-check" type="radio" id="type2" asp-for="role" value="2">
                            <label class="btn btn-secondary" for="type2">Customer</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="form-floating mb-3">
                                <input asp-for="FirstName" class="form-control" autocomplete="FirstName" aria-required="true" placeholder="First Name" />
                                <label asp-for="FirstName">First Name</label>
                                <span asp-validation-for="FirstName" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-floating mb-3">
                                <input asp-for="LastName" class="form-control" autocomplete="LastName" aria-required="true" placeholder="Last Name" />
                                <label asp-for="LastName">Last Name</label>
                                <span asp-validation-for="LastName" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-floating mb-3">
                        <input asp-for="PhoneNumber" class="form-control" placeholder="Please enter your phone number." />
                        <label asp-for="PhoneNumber" class="form-label"></label>
                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <input asp-for="Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                        <label asp-for="Email">Email</label>
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <input asp-for="Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                        <label asp-for="Password">Password</label>
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <input asp-for="ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                        <label asp-for="ConfirmPassword">Confirm Password</label>
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                    
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-primary btn-sm" />
                        <a class="btn btn-sm btn-secondary" asp-area="" asp-controller="Admin" asp-action="ViewUsers">Back to Users</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
