
<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-md-6">
            <div class="card border-0 shadow">
                <div class="card-body text-center">
                    <h5 class="card-title mb-4">No WealthTrackr Account Found</h5>
                    <p class="card-text">The selected user has not created a WealthTrackr account yet.</p>
                    <a class="btn btn-sm btn-secondary" asp-area="" asp-controller="Admin" asp-action="ViewCustomerAccounts">Back to Accounts</a>
                </div>
            </div>
        </div>
    </div>
</div>
