@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1 class="display-4 text-black">Dashboard</h1>
</div>

<div class="container">

    <div class="row mt-4">
        @if (User.IsInRole("Customer"))
        {
            <div class="col">
                <div class="card text-center">
                    <div class="card-header">
                        <h5>Transactions</h5>
                    </div>
                    <div class="card-body">
                        <p class="card-text">Create a new transaction</p>
                        <a class="btn btn-sm btn-secondary" asp-area="" asp-controller="Transactions" asp-action="Create">Create Transactions</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card text-center">
                    <div class="card-header">
                        <h5>View All Transactions</h5>
                    </div>
                    <div class="card-body">
                        <p class="card-text">View all your Transactions made</p>
                        <a class="btn btn-sm btn-secondary" asp-area="" asp-controller="Transactions" asp-action="MyTransactions">My Transactions</a>
                    </div>
                </div>
            </div>


            <div class="col">
                <div class="card text-center">
                    <div class="card-header">
                        <h5>View All Categories</h5>
                    </div>
                    <div class="card-body">
                        <p class="card-text">View all your Categories made</p>
                        <a class="btn btn-sm btn-secondary" asp-area="" asp-controller="Categories" asp-action="MyCategories">My Categories</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card text-center">
                    <div class="card-header">
                        <h5>Account</h5>
                    </div>
                    <div class="card-body">
                        <p class="card-text">View your financial account!</p>
                        <a class="btn btn-sm btn-secondary" asp-area="" asp-controller="FinancialAccounts" asp-action="Index">Financial Account</a>
                    </div>
                </div>
            </div>
        }


        @if (User.IsInRole("Admin"))
        {
            <div class="col">
                <div class="card text-center">
                    <div class="card-header">
                        <h5>WealthTrackr Accounts</h5>
                    </div>
                    <div class="card-body">
                        <p class="card-text">Account User Info</p>
                        <a class="btn btn-sm btn-secondary" asp-area="" asp-controller="Admin" asp-action="ViewCustomerAccounts">WealthTrackr Account Info</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card text-center">
                    <div class="card-header">
                        <h5>User Accounts</h5>
                    </div>
                    <div class="card-body">
                        <p class="card-text">View User Info</p>
                        <a class="btn btn-sm btn-secondary" asp-area="" asp-controller="Admin" asp-action="ViewUsers">Users Account Info</a>
                    </div>
                </div>
            </div>

        }

    </div>
</div>