@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1 class="display-4 text-black">Dashboard</h1>
</div>

<div class="container">

    <div class="row mt-4">
        @if (User.IsInRole("Customer"))
        {
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Transactions</h5>
                        <p class="card-text">Create a new transaction</p>
                        <a class="nav-link text-black" asp-area="" asp-controller="Transactions" asp-action="Create">Create Transactions</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">View all Transactions</h5>
                        <p class="card-text">View all your Transactions made!</p>
                        <a class="nav-link text-dark" asp-area="" asp-controller="Transactions" asp-action="MyTransactions">My Transactions</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">View all Categories</h5>
                        <p class="card-text">View all your Categories made!</p>
                        <a class="nav-link text-dark" asp-area="" asp-controller="Categories" asp-action="MyCategories">My Categories</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Account</h5>
                        <p class="card-text">View your financial account!</p>
                        <a class="nav-link text-dark" asp-area="" asp-controller="FinancialAccounts" asp-action="Index">Financial Account</a>
                    </div>
                </div>
            </div>
        }


        @if (User.IsInRole("Admin"))
        {
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">View Accounts</h5>
                        <p class="card-text">Account User Info</p>
                        <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="ViewCustomerAccounts">Customer Account Info</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">View Users</h5>
                        <p class="card-text">View User Info</p>
                        <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="ViewUsers">View all Users</a>
                    </div>
                </div>
            </div>

        }

    </div>
</div>