@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1 class="display-4 text-black">Dashboard</h1>
</div>

<div class="container">

    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Transactions</h5>
                    <p class="card-text">Create a new transaction</p>
                    <a class="nav-link text-black" asp-area="" asp-controller="Transactions" asp-action="Create">Create Transactions</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Categories</h5>
                    <p class="card-text">Create a new category</p>
                    <a class="nav-link text-dark" asp-area="" asp-controller="Categories" asp-action="Create">Create Category</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">View all Transactions</h5>
                    <p class="card-text">View all your Transactions made!</p>
                    <a class="nav-link text-dark" asp-area="" asp-controller="Transactions" asp-action="Index">All Transactions</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">View all Categories</h5>
                    <p class="card-text">View all your Categories made!</p>
                    <a class="nav-link text-dark" asp-area="" asp-controller="Categories" asp-action="Index">All Categories</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Account</h5>
                    <p class="card-text">View your financial account!</p>
                    <a class="nav-link text-dark" asp-area="" asp-controller="FinancialAccounts" asp-action="MyAccount">Financial Account</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">View Users</h5>
                    <p class="card-text">View User Info</p>
                    <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="ViewUsers">Click to view all Users</a>
                </div>
            </div>
        </div>
    </div>
</div>