@model List<Transaction>
@{
    ViewData["Title"] = "Recent Transaction";
}

<div class="row mt-5">
    <div class="col-md-5 mx-auto">
        <div class="card">
            <div class="card-header">
                <h3>Recent Transaction</h3>
            </div>
            <div class="card-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                Transaction Date
                            </th>
                            <th>
                                Category
                            </th>
                            <th>
                                Amount
                            </th>
                            <th>
                                Description
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @item.TransactionDate.ToString("yyyy-MM-dd") 
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TransactionType)
                                </td>
                                <td>
                                    @String.Format("${0:N2}", item.Amount)

                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Description)
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>